@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading: #393A56;
    --text: #7E7F85;
    --theme: #FD5353;
    --bg: #F7F8F9;
    --footerBg: #415161;
}

body {
    font-family: "Poppins";
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--heading);
}

p {
    color: var(--text);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* -------------Header---------------- */
.container {
    width: 80%;
    margin: auto;
}

header {
    background: var(--bg);
    width: 100vw;
    height: 90vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navlinks {
    display: flex;
    align-items: center;
}
.navlinks li {
    margin: 0 20px;
}
.navlinks img {
    width: 50px;
}
.navlinks li a {
    color: var(--heading);
}

.header-content {
    display: flex;
    align-items: center;
}

.header-img img {
    max-width: 90%;
}

.header-info {
    flex: 60%;
}

.line {
    width: 150px;
    height: 4px;
    background: var(--theme);
    border-radius: 5px;
}

.header-info h1 {
    font-size: 50px;
}

.header-info h3 , .header-info p {
    margin: 15px 0;
}

.ctn {
    padding: 10px 16px;
    background: var(--theme);
    color: whitesmoke;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-top: 30px;
}

/* -----------------categories-------------- */
.categories {
    display: flex;
    margin: 80px auto;
    justify-content: space-between;
}

.category {
    text-align: center;
}

#features-products {
    margin: 80px auto;
}
.section-info {
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    justify-content: center;
    align-items: center;
}
.products {
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}

/* ------------------OFFER----------------- */

#offer {
    margin: 80px auto;
    background: var(--bg);
}

#offer .container {
    display: flex;
    align-items: center;
}

#offer .container img {
    max-width: 600px;
}
#offer-content h1{
    font-size: 50px;
}

/* -------------------featured--------------------- */

#featured {
    margin: 150px auto;
    display: flex;
    justify-content: space-between;
}

/* --------------------footer------------------------ */

footer {
    background: var(--footerBg);
    padding: 80px 0;
}

footer p, footer li {
    color: #b5b5b5;
}

footer h3 {
    color: whitesmoke;
}

.footer-content {
    padding: 80px 0;
    display: flex;
}

.footer-content .col {
    flex:1;
    margin: 0 20px;
}

.copyright {
    padding: 10px 0;
    text-align: center;
    color: whitesmoke;
}
.menuBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    display: none;
}


/* ----------------------responsive--------------------- */

@media only screen and (max-width: 750px) {
    

    .container {
        width: 90%;
    }
    .navbar {
        flex-direction: column;
    }

    .second{
        order: 1;
    }

    .navlinks {
        flex-direction: column;
        background: var(--heading);
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: -900px;
        transition: all 0.5s ease-in;
    }
    .navlinks li {
        margin:20px auto;
    }
    .navlinks li a{
        color: #dddddd;
    }
    .brand img {
        width: 100px;
        margin-top: 20px;
    }
    .menuBtn {
        margin-right: 20px;
    }
    header {
        height: 100%;
    }
    .line {
        width: 100px;
        margin-bottom: 10px;
    }

    .header-content {
        margin: 50px auto;
        flex-direction: column;
    }
    .header-content h1 {
        font-size: 40px;
    }
    .header-content img {
        margin: 30px auto;
    }

    .categories {
        flex-wrap: wrap;
    }
    .second {
        display: flex;
        flex-direction: column;
    }
    .second img {
        order: -1;
    }

    .products {
        flex-wrap: wrap;
    }
    .product {
        margin-bottom: 20px;
    }
    #offer .container{
        flex-wrap: wrap;
    }

    #offer .container img{
        max-width: 400px;
    }

    .offer-content {
        margin: 30px;
    }

}

@media (max-width: 992px) {
  .navbar ul {
    display: none; /* Menü gizleniyor */
  }

  .menuBtn {
    display: block; /* Hamburger ikon görünür oluyor */
  }
}